@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar{
  @apply hidden
}



*{
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

